.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.main-text {
    margin: auto;
    border: 3px solid green;
    padding: 20px;
    text-align: center;
}    

.heading {
    text-align: center;
}

.main {
    padding: 20px;
} 
 
.speedreader {
    text-align: center;
    padding-top: 10%;
}

.input-field {
      padding-left: 30%;
      margin: 10px;
} 

.speed-selector {
    padding-left: 30%;
    margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
